	["weather"] = 
	{
		["wind"] = 
		{
			["at8000"] = 
			{
				["speed"] = 35.0472,
				["dir"] = 0,
			}, -- end of ["at8000"]
			["atGround"] = 
			{
				["speed"] = 9.2772,
				["dir"] = 253,
			}, -- end of ["atGround"]
			["at2000"] = 
			{
				["speed"] = 25.77,
				["dir"] = 45,
			}, -- end of ["at2000"]
		}, -- end of ["wind"]
		["enable_fog"] = false,
		["season"] = 
		{
			["temperature"] = 20,
		}, -- end of ["season"]
		["qnh"] = 760,
		["cyclones"] = 
		{
			[1] = 
			{
				["ellipticity"] = 1.3721480776527,
				["centerZ"] = 286402.48612751,
				["rotation"] = 2.1148385573335,
				["pressure_spread"] = 879284.77047432,
				["pressure_excess"] = -1144,
				["centerX"] = -96258.535765099,
			}, -- end of [1]
			[2] = 
			{
				["ellipticity"] = 1.3721480776527,
				["centerZ"] = 194916.79212835,
				["rotation"] = 2.1148385573335,
				["pressure_spread"] = 805839.86579238,
				["pressure_excess"] = 942,
				["centerX"] = -992629.17889541,
			}, -- end of [2]
		}, -- end of ["cyclones"]
		["dust_density"] = 0,
		["enable_dust"] = false,
		["clouds"] = 
		{
			["thickness"] = 200,
			["density"] = 0,
			["preset"] = "RainyPreset2",
			["base"] = 2500,
			["iprecptns"] = 0,
		}, -- end of ["clouds"]
		["atmosphere_type"] = 0,
		["groundTurbulence"] = 0,
		["halo"] = 
		{
			["preset"] = "AtmoHighClouds",
			["crystalsPreset"] = "AllKinds",
		}, -- end of ["halo"]
		["type_weather"] = 0,
		["modifiedTime"] = false,
		["name"] = "Winter, clean sky",
		["fog"] = 
		{
			["thickness"] = 0,
			["visibility"] = 0,
		}, -- end of ["fog"]
		["visibility"] = 
		{
			["distance"] = 80000,
		}, -- end of ["visibility"]
	}, -- end of ["weather"]