	["weather"] = 
	{
		["name_ru"] = "Зима. Снегопад",
		["wind"] = 
		{
			["at8000"] = 
			{
				["speed"] = 0,
				["dir"] = 0,
			}, -- end of ["at8000"]
			["at2000"] = 
			{
				["speed"] = 0,
				["dir"] = 0,
			}, -- end of ["at2000"]
			["atGround"] = 
			{
				["speed"] = 0,
				["dir"] = 0,
			}, -- end of ["atGround"]
		}, -- end of ["wind"]
		["enable_fog"] = false,
		["season"] = 
		{
			["temperature"] = -5,
		}, -- end of ["season"]
		["qnh"] = 720.09,
		["cyclones"] = 
		{
			[1] = 
			{
				["rotation"] = -2.0022752831544,
				["centerZ"] = 3927.2953647657,
				["pressure_spread"] = 955741.74476286,
				["ellipticity"] = 1.1638905859474,
				["pressure_excess"] = -1094,
				["centerX"] = 317402.37058702,
			}, -- end of [1]
			[2] = 
			{
				["rotation"] = -2.0022752831544,
				["centerZ"] = 781008.64731122,
				["pressure_spread"] = 1153371.5671039,
				["ellipticity"] = 1.1638905859474,
				["pressure_excess"] = 715,
				["centerX"] = 1063765.1334662,
			}, -- end of [2]
		}, -- end of ["cyclones"]
		["name_de"] = "Winter, starker Schneefall und Wolken",
		["dust_density"] = 0,
		["enable_dust"] = false,
		["clouds"] = 
		{
			["density"] = 9,
			["thickness"] = 940,
			["base"] = 1100,
			["iprecptns"] = 3,
		}, -- end of ["clouds"]
		["atmosphere_type"] = 0,
		["groundTurbulence"] = 0,
		["name_fr"] = "Hiver, fortes averses de neige et nuages",
		["halo"] = 
		{
			["preset"] = "off",
		}, -- end of ["halo"]
		["type_weather"] = 0,
		["modifiedTime"] = false,
		["fog2"] = 
		{
			["manual"] = 
			{
				[1] = 
				{
					["thickness"] = 914.4,
					["time"] = 0,
					["visibility"] = 457.2,
				}, -- end of [1]
			}, -- end of ["manual"]
			["mode"] = 4,
		}, -- end of ["fog2"]
		["name"] = "Winter, clean sky",
		["fog"] = 
		{
			["visibility"] = 0,
			["thickness"] = 0,
		}, -- end of ["fog"]
		["name_cn"] = "冬季 暴雪+多云",
		["name_es"] = "Invierno. Nevada intensa y nubes",
		["visibility"] = 
		{
			["distance"] = 80000,
		}, -- end of ["visibility"]
	}, -- end of ["weather"]
