	["weather"] = 
	{
		["wind"] = 
		{
			["at8000"] = 
			{
				["speed"] = 0,
				["dir"] = 0,
			}, -- end of ["at8000"]
			["atGround"] = 
			{
				["speed"] = 0,
				["dir"] = 0,
			}, -- end of ["atGround"]
			["at2000"] = 
			{
				["speed"] = 0,
				["dir"] = 0,
			}, -- end of ["at2000"]
		}, -- end of ["wind"]
		["enable_fog"] = false,
		["season"] = 
		{
			["temperature"] = 20,
		}, -- end of ["season"]
		["qnh"] = 760,
		["cyclones"] = 
		{
			[1] = 
			{
				["rotation"] = 0.76045984570301,
				["centerZ"] = 158903.58313772,
				["pressure_spread"] = 868254.42594235,
				["ellipticity"] = 1.17886702316,
				["pressure_excess"] = -1301,
				["centerX"] = 26136.40677021,
			}, -- end of [1]
		}, -- end of ["cyclones"]
		["dust_density"] = 0,
		["enable_dust"] = false,
		["clouds"] = 
		{
			["thickness"] = 200,
			["density"] = 0,
			["preset"] = "Preset2",
			["base"] = 2500,
			["iprecptns"] = 0,
		}, -- end of ["clouds"]
		["atmosphere_type"] = 1,
		["groundTurbulence"] = 0,
		["halo"] = 
		{
			["preset"] = "auto",
		}, -- end of ["halo"]
		["type_weather"] = 0,
		["modifiedTime"] = true,
		["fog2"] = 
		{
			["manual"] = 
			{
				[1] = 
				{
					["thickness"] = 457.2,
					["time"] = 0,
					["visibility"] = 457.2,
				}, -- end of [1]
				[2] = 
				{
					["thickness"] = 1066.8,
					["time"] = 2700,
					["visibility"] = 1524,
				}, -- end of [2]
				[3] = 
				{
					["thickness"] = 1066.8,
					["time"] = 3900,
					["visibility"] = 100000.0032,
				}, -- end of [3]
			}, -- end of ["manual"]
			["mode"] = 4,
		}, -- end of ["fog2"]
		["name"] = "Winter, clean sky",
		["fog"] = 
		{
			["thickness"] = 0,
			["visibility"] = 0,
		}, -- end of ["fog"]
		["visibility"] = 
		{
			["distance"] = 80000,
		}, -- end of ["visibility"]
	}, -- end of ["weather"]
